.link {
  color: rgb(78, 147, 236) !important;
  text-decoration: none !important;
}
.link:hover {
  color: rgb(205, 225, 252) !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.textfield{
  width: 100% !important;
}
.submit-btn{
 margin: 0 auto !important;
}

.loginform{
  margin: 12% auto !important;
}

.signup-form{
  margin: auto auto !important;
}